<div class="">
  <h3>User Info </h3>
  <ul>
    <li>Username: <%= @user.username %></li>
    <li>User Location: <%= @user.location %></li>
    <li>Favorite Car: <%= @user.favorites %></li>
    <li><a href= "/users/<%= current_user.id %>/edit">Edit User</a></li>
    <li><a href= "/">Back</a></li>
  </ul>
      <form action="/users/<%= current_user.id %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="DELETE">
      </form>

  