<div class="">
  <h3>User Info </h3>
  <ul>
    <li>Username: <%= current_user.username %></li>
    <li>User Location: <%= current_user.location %></li>
    <li>Favorite Cars: <% current_user.favorite_cars.each do |car| %>
                        <p><%= car.year %> - <%= car.make %> - <%= car.make %> - <%= car.model %></p>
                        <% end %></li>
    <% if current_user.all_time_favorite %>
    <li>All Time Favorite:
    <p><%= current_user.all_time_favorite.year %> - <%= current_user.all_time_favorite.make %> - <%= current_user.all_time_favorite.model %> - <%= current_user.all_time_favorite.price %>
    </p></li>
    <% end %>
    <li><a href= "/users/<%= current_user.id %>/edit">Edit User Info</a></li>
    <li><a href= "/">Back</a></li>
  </ul>
  <% if current_user.id == @user.id %>
    <form action="/users/<%= current_user.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="DELETE">
    </form>
  <% end %>

  