<div class="">
  <h3>Car Info </h3>
  <ul>
    <li>Model Year: <%= @cars.year %></li>
    <li>Make: <%= @cars.make %></li>
    <li>Model: <%= @cars.model %></li>
    <li>Car Location: <%= @cars.location %></li>
    <li>Price of Car: <%= @cars.price %></li>
    <li>Sales Status: <%= @cars.status %></li>
    <a href= "/cars">Back</a>
    
  </ul>
  <form action="/cars/<%= @cars.id %>/edit" method="post">
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="EDIT">
  </form>
  <form action="/cars/<%= @cars.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="DELETE">
  </form>
  </li><a href= "/cars/<%= @cars.id %>/edit">Edit Car</a></li>